$prim-gray: #525e66;
$sec-gray: #c4cdd4;
$prim-red: #da2128;
$sec-light-gray: #d1d2d4;
$sec-blue: #105e8e;
$sec-red: #de6161;
$sec-light-blue: #0179bf;
$theme-blue: #115f8d;
$highlight-yellow-orange: #ffd400;
$highlight-orange: #f7941e;
$red: $prim-red;
$warn: $highlight-yellow-orange;
$white: #ffffff;
$navbarBg: #2a3e4b;
// $red: #FF3B3E;
// $warn: #f3bc4a; // F5B328
$light-gray: #d2dce3;
$dark-gray: #6c7b86;
$dark: #2a3e4b;
$green: #43ca73;
$dark-green: #2e9c56;
$dark-top: #3f525e;
$light-gray-rgba: rgba(210, 220, 227, 1);
$gray-gradient: linear-gradient(180deg, #5a6a74 4.97%, #3f525e 31.49%);
